<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Frases Favoritas</h1>
            <h3 class="mb-5">
                <em>Guarda tus frases favoritas</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Vamos a comenzar
            </a>
        </div>
    </header>
</main>